body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #283136;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-header h1 {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}
.main-header {
  background-color: #eeeeee;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
}
.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.features {
  background-color: #eeeeee;
}
.slider {
  display: flex;
  margin-bottom: 80px;
}
.main-header-logo {
  width: 160px;
  height: 65px;
}
.main-header-logo img:hover,
.main-header-logo img:focus {
  opacity: 0.8;
}
.main-header-logo img:active {
  opacity: 0.3;
}
.site-navigation {
  width: 340px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-navigation {
  width: 260;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}
.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.services {
  margin-bottom: 80px;
}
.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.services-item {
  width: 300px;
}
.services-item h3 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 75px 0;
}
.info {
  width: 650px;
}
.info-progress {
  width: 360px;
}
.info b {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}
.info-work {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}
.info-work-list {
  list-style: none;
}
.info-progress p {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}
.info-progress-table th {
  font-size: 16px;
  font-weight: 400px;
  line-height: 18px;
  padding: 20px;
}
.info-progress-table td {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
  padding: 20px;
}
.partners {
  margin-bottom: 45px;
}
.partners-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.address-contacts {
  background-color: #ffffff;
}
.address-contacts b {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
}
.address-contacts p {
  color: #666666;
  line-height: 18px;
  font-style: normal;
  text-align: left;
}
.address-contacts .button {
  font-style: normal;
}
.button {
  color: #ffffff;
  background-color: #fb565a;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
.services-list li:nth-child(2) .button {
  background-color: #00ca74;
}
.services-list li:last-child .button {
  background-color: #efc84a;
}
.services-list li:nth-child(2) .button:hover,
.services-list li:nth-child(2) .button:focus {
  background-color: #00bc6c;
}
.services-list li:nth-child(2) .button:active {
  background-color: #00aa62;
}
.services-list li:last-child .button:hover,
.services-list li:last-child .button:focus {
  background-color: #eab534;
}
.services-list li:last-child .button:active {
  background-color: #e5a722;
}
.partners-list a {
  opacity: 0.2;
}
.partners-list a:hover,
.partners-list a:focus {
  opacity: 1;
}
.partners-list a:active {
  opacity: 0.1;
}
.address-contacts {
  width: 320px;
  padding: 50px 50px;
}
.main-footer {
  background-color: #ffffff;
}
.main-footer .container {
  display: flex;
}
.main-footer b,
.main-footer p {
  margin: 0;
}
.main-footer ul {
  list-style: none;
}
.social-button {
  color: #000000;
}
.main-footer {
  margin-top: 70px;
}
.main-footer b {
  width: 550px;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
.main-footer p {
  color: #444444;
  line-height: 22px;
}
.footer-social {
  width: 260px;
  margin-right: 135px;
}


.page-title {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  padding-top: 82px;
  padding-bottom: 115px;
  margin-bottom: 60px;
}
.page-title h1 {
  margin: auto;
  padding: 0;
  text-align: center;
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}
.filters {
  width: 260px;
}
.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter fieldset {
  border: none;
}
.filter legend {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.catalog {
  width: 800px;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}
.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-item img {
  border: 1px solid rgba(0, 1, 1, 0.1);
}
.catalog-item img:hover {
  border: none;
}
.catalog-img-modal {
  background-color: #eeeeee;
}
.catalog-img-modal a {
  color: #000000;
}
.catalog-img-modal h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.catalog-img-modal p {
  color: #666666;
  line-height: 18px;
}
.pagination-list {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
}
.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
  line-height: 18px;
}
.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}
.pagination-item a:active {
  opacity: 0.3;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}
.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
.filter-button {
  color: #000000;
  background-color: #eeeeee;
  font-weight: 500;
  line-height: 18px;
}
