body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.main-header {
  background-color: #eeeeee;
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  padding-top: 45px;
  padding-bottom: 18px;
}
.main-header-logo {
  width: 160px;
  height: 65px;
  padding-top: 4px;
}
.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}
.main-header-logo:active {
  opacity: 0.3;
}
.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 570px;
}
.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 125px;
  word-wrap: break-word;
}
.site-navigation a,
.user-navigation a {
  display: block;
  padding: 29px 0px 18px 47px;
  font-weight: 500;
  line-height: 30px;
  vertical-align: middle;
  color: #000000;
}
.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}
.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation-current {
  position: relative;
}
.site-navigation-current a:not([href]) {
  background-color: #eeeeee;
}
.site-navigation-current::after {
  content: "";
  position: absolute;
  bottom: 13px;
  left: 48px;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}
.user-navigation .basket-link {
  position: relative;
  padding-left: 50px;
}
.basket-link::before {
  content: "";
  position: absolute;
  top: 37px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: #eeeeee;
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.slider {
  position: relative;
  margin: 0;
  margin-bottom: 80px;
  background-color: #eeeeee;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  display: none;
  padding: 52px 0 80px 0;
}
.slider-item:nth-child(1) {
  display: block;
}
.slider-item:nth-child(1) {
  background-color: #eeeeee;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93%;
}
.slider-item:nth-child(2) {
  background-color: #eeeeee;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slider-item:nth-child(3) {
  background-color: #eeeeee;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.button {
  display: block;
  width: 230px;
  padding: 16px 5px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services-list:last-child {
  margin-bottom: 0px;
}
.services-item {
  width: 300px;
  margin-right: 100px;
  padding-bottom: 80px;
}
.services-item:nth-child(3n) {
  margin-right: 0;
}
.services-item h3 {
  margin: 0;
  padding: 18px 0 16px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.services-item p {
  max-width: 250px;
  margin: 0;
  padding: 0;
}
.services-list .button {
  width: 150px;
  margin-top: 33px;
}
.services-item:nth-child(2) .button {
  background-color: #00ca74;
}
.services-item:last-child .button {
  background-color: #efc84a;
}
.services-item:nth-child(2) .button:hover,
.services-item:nth-child(2) .button:focus {
  background-color: #00bc6c;
}
.services-item:nth-child(2) .button:active {
  background-color: #00aa62;
}
.services-item:last-child .button:hover,
.services-item:last-child .button:focus {
  background-color: #eab534;
}
.services-item:last-child .button:active {
  background-color: #e5a722;
}
.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 43px 0 49px 0;
  background-color: #ffffff;
  background-image: url("../img/line.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.info {
  max-width: 650px;
  padding-top: 33px;
}
.info b {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}
.info p {
  margin: 0;
  padding-top: 33px;
  padding-bottom: 39px;
}
.info-work {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}
.info-work-list {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  list-style: none;
}
.info-work-list li {
  position: relative;
  padding-left: 35px;
  padding-bottom: 24px;
}
.info-work-list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.info-progress {
  width: 360px;
}
.info-progress p {
  margin: 0;
  padding: 0;
  margin-bottom: 41px;
  margin-top: 27px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #000000;
}
.info-progress-table th {
  padding-top: 17px;
  padding-left: 0;
  font-size: 16px;
  font-weight: 400px;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
}
.info-progress-table td {
  padding: 17px;
  padding-left: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
  color: #000000;
  text-align: left;
  vertical-align: middle;
}
.info-progress-table sup {
  font-size: 27px;
}
.partners {
  margin-bottom: 80px;
  padding: 0;
  padding-top: 49px;
  padding-bottom: 39px;
  background-color: #ffffff;
  background-image:
    url("../img/line.png"),
    url("../img/line.png");
  background-size: contain;
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
  }
.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 31px;
  background-color: #ffffff;
  background-image:
    url("../img/line-vertical.png"),
    url("../img/line-vertical.png"),
    url("../img/line-vertical.png");
  background-position: 248px 17px, 548px 17px, 848px 17px;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
.partners-list a {
  margin: 0;
  padding: 0;
  display: block;
  opacity: 0.2;
}
.partners-list li {
  padding-right: 99px;
}
.partners-list li:nth-child(4n) {
  padding-right: 0;
  padding-left: 25px;
  padding-top: 5px;
}
.partners-list li:nth-child(1) {
  padding-top: 9px;
}
.partners-list a:hover,
.partners-list a:focus {
  opacity: 1;
}
.partners-list a:active {
  opacity: 0.1;
}
.page-title {
  background-color: #eeeeee;
  margin-bottom: 56px;
}
.page-title h1 {
  margin: 0;
  padding: 0;
  padding-top: 52px;
  padding-bottom: 107px;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.filter fieldset {
  margin-bottom: 25px;
}
.filter fieldset:first-child {
  margin-bottom: 55px;
}
.filter fieldset:nth-child(3) {
  margin-bottom: 30px;
}
.filter-item legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 3px;
}
.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  vertical-align: middle;
}
.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  font: inherit;
  text-align: center;
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
}
.max-price {
  text-align: right;
}
.filter-item ul {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  list-style: none;
  line-height: 20px;
}
.filter-option {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 35px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #283136;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -3px;
  width: 25px;
  height: 25px;
  padding-left: 9px;
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -3px;
  width: 25px;
  height: 25px;
  padding-left: 9px;
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -34px;
  top: 0;
  width: 23px;
  height: 23px;
  padding-left: 11px;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;
  width: 27px;
  height: 23px;
  padding-left: 7px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input + label::before {
  opacity: 0.4;
}
.filter-input:hover + label::before,
.filter-input:focus + label::before {
  opacity: 1;
}
.filter-input:disabled + label {
  opacity: 0.3;
}
.filter-button {
  width: 260px;
  font-weight: 500;
  line-height: 18px;
  background-color: #eeeeee;
  color: #000000;
  cursor: pointer;
}
.filter-button:hover {
  background-color: #dfdfdf;
}
.filter-button:focus {
  background-color: #d5d5d5;
  opacity: 0.3;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}
.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  margin: 0;
  padding: 0;
  margin-left: 140px;
}
.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 217px;
  list-style: none;
}
.sort span {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.sort a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}
.sort-list li {
  padding-right: 25px;
}
.sort-list li:last-child {
  padding-right: 0;
}
.sort a:hover {
  opacity: 0.6;
}
.sort a:focus,
.sort a:active {
  opacity: 1;
}
.sort-button a:first-child {
  margin-right: 15px;
}
.sort-button a:hover {
  opacity: 0.6;
}
.sort-button a:focus,
.sort-button a:active {
  opacity: 1;
}
.catalog {
  width: 760px;
  margin-left: 140px;
}
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 94px;
  list-style: none;
}
.catalog-item {
  position: relative;
  width: 360px;
  margin: 0;
  padding: 0;
  margin-bottom: 67px;
  margin-right: 40px;
}
.catalog-item::before {
  content: "";
  position: absolute;
  top: -40px;
  width: 360px;
  height: 40px;
  background-image: url('../img/browser.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.12;
}
.catalog-item:hover::before,
.catalog-item:focus::before {
  opacity: 1;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-img-modal {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 7px;
  width: 360px;
  min-height: 158px;
  padding: 30px 0 43px 0;
  background-color: #eeeeee;
  border: none;
  opacity: 0;
}
.catalog-item:hover .catalog-img-modal,
.catalog-item:focus .catalog-img-modal {
  opacity: 1;
}
.catalog-img-modal a {
  margin: 0;
  padding: 0;
  color: #000000;
}
.catalog-img-modal h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.catalog-img-modal p {
  display: block;
  margin: 26px auto;
  line-height: 18px;
  text-align: center;
  color: #666666;
}
.catalog-img-modal .button {
  width: 80px;
  margin: 0;
  padding: 15px 60px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 18px;
  color: #ffffff;
}
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: -14px;
  margin-bottom: 60px;
  list-style: none;
}
.pagination-item {
  margin: 0;
  margin-right: 12px;
}
.pagination-item:last-child {
  width: 260px;
  margin-right: 0;
  text-align: center;
}
.pagination-item a {
  display: block;
  padding: 16px 20px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  background-color: #eeeeee;
}
.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}
.pagination-item a:active {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  opacity: 0.3;
}
.pagination-item-current a {
  padding: 13px 17px;
  border: 3px solid #dbdbdb;
  color: #000000;
  background-color: #ffffff;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #ffffff;
  background-image: url("../img/map.png");
  background-size: cover;
  background-position: center center;
  background-origin: border-box;
  background-repeat: no-repeat;
}
.address-contacts  {
  width: 319px;
  height: 260px;
  margin: 54px 0;
  padding: 48px 0 0 50px;
  background-color: #ffffff;
}
.address-contacts b {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  color: #000000;
}
.address-contacts p {
  margin: 0;
  padding: 0;
  margin-top: 23px;
  line-height: 18px;
  font-style: normal;
  text-align: left;
  color: #666666;
}
.address-contacts .phone {
  margin-top: 18px;
  margin-bottom: 38px;
}
.address-contacts .button {
  width: 209px;
  font-style: normal;
}
.main-footer {
  margin-top: 52px;
  margin-bottom: 70px;
  background-color: #ffffff;
}
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 260px;
  margin-right: 140px;
  padding: 0;
  list-style: none;
}
.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
.social-button:hover {
  background-color: #e74246;
}
.social-button:focus {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}
.social-button:focus path {
  opacity: 0.3;
}
.footer-index {
  display: block;
  max-width: 600px;
}
.footer-index b,
.main-footer p {
  margin: 0;
  padding: 0;
}
.footer-index b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}
.footer-index p {
  margin-top: 10px;
  line-height: 22px;
  color: #444444;
}
.modal {
  display: none;
  position: absolute;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}
.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}
.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
.modal-feedback {
  top: -137px;
  left: 50%;
  width: 760px;
  height: auto;
  margin-left: -480px;
  padding: 65px 100px 85px 100px;
}
.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-close::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}
.modal-close:hover::before {
  opacity: 1;
}
.modal-close:focus::before {
  opacity: 0.1;
}
.modal-feedback h2 {
  margin: 0;
  margin-bottom: 42px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}
.feedback-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedback-index p {
  margin: 0;
  margin-bottom: 34px;
}
.feedback-index p:last-child {
  margin-bottom: 41px;
}
.feedback-item label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}
.feedback-index input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  padding: 14px 13px;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
  border: 2px solid #d7dcde;
  background-color: #ffffff;
}
.feedback-index textarea {
  width: 760px;
  padding: 10px 13px 66px 13px;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
  border: 2px solid #d7dcde;
  background-color: #ffffff;
}
.feedback-index input:hover,
.feedback-index textarea:hover{
  border: 2px solid #b4b9bb;
}
.feedback-index input:focus,
.feedback-index textarea:focus {
  border: 2px solid #000000;
  color: #444444;
  opacity: 1;
}
.feedback-index input:invalid,
.feedback-index textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}
.feedback-form .button {
  width: 260px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  70% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  70% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
